/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}


/* task-1 */
.header{
    text-align: center;
    color: rgb(218, 77, 26);

}

.p-tag{
    text-align: center;
    box-sizing: border-box;
    border: 2px solid red;
    margin: 50px;
    background: #fffd6b;
}

/* task-2 */

.food{
    text-align: center;
    color: chocolate;
}

.food-item{
    text-align: center;
    border: 2px solid chocolate;
    width: 250px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px grey;
    background: lab(90.83% -17.82 53.08);

}

.food-item:hover{
    box-shadow: 10px 10px 20px chocolate;
    transform: scale(1.1);
    transition: 0.5s;
}
.food-item img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 10px;
}

.food-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

/* task-3 */

#login-section{
    text-align: center;
    margin-bottom: 50px;
}
.login-form{
    border: 2px solid tan;
    width: 300px;
    margin: auto;
    padding: 20px;
    box-shadow: 10px 10px 20px grey;
    border-radius: 10px;
    background: #fff5e6;
    box-sizing: border-box;
}

form button{
    background: chocolate;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover{
    background: rgb(218, 77, 26);
    transition: 0.5s;
}
.login-form:hover{
    box-shadow: 10px 10px 30px chocolate;
    transform: scale(1.1);
    transition: 0.5s;
}